html,body{min-height:100%;}
body{
	position:relative;
	margin:auto;
	border:0;
	background-color:#209091;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
*{color:beige;}
nav{
	background-color:beige;
	height:3em;
}
.navbar{
	position:sticky;
	top:0;
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:center;
}
.navbar a{color:darkolivegreen;}
.navbar li{
	display:inline;
	font-size:1.35rem;
	padding:1.5%;
}
a.noline{text-decoration:none;}
a.logo{
	color:#b12070;
	font-family:monospace;
}
main{
	background-color:#30a0a1;
	width:88%;
	margin:0.5em auto 0.5em;
	/*15em=3em(header)+11em(footer)+1em(margins)+.5em(padding)*/
	min-height:calc(100vh - 15.5em);
	padding:0.1em 2% 0.4em 2%;
}
main a:hover{color:#351;}
footer{
	background-color:beige;
	min-height:11em;
	padding:0;
	position:absolute;
	width:100%;
	text-align:center;
}
footer a,footer p,.navbar a:hover{color:#000;}
